<html>
    <head>
        <title>Camera Monitor</title>
        <link rel="stylesheet" href="public/css/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container-fluid" id="app">
            <div class="row" style="margin-top: 1em;">
                <div class="col" style="text-align: center;">
                    <button
                        class="btn btn-primary"
                        style="width: 6em; margin-right: 2em;"
                        onclick="onupdate()"
                    >
                        Update
                    </button>
                    <button
                        id="stop-start-button"
                        class="btn btn-success"
                        style="width: 6em;"
                        onclick="onstopstart()"
                    >
                        Start
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 1em;">
                <div class="col-sm-6">
                    <h4>Camera 1</h4>
                    <input type="checkbox" v-model="cam1_enabled" />&nbsp; Enabled
                    <table class="table" v-if="cam1_enabled">
                        <tr>
                            <td>IP</td>
                            <td><input type="text" id="cam1-ip" value="127.0.0.1" /></td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td><input type="text" id="cam1-port" value="10101" /></td>
                        </tr>
                    </table>

                    <img
                        id="camera1"
                        src=""
                        v-if="cam1_enabled"
                        style="width:100%;  max-width:100%"
                    />
                </div>
                <div class="col-sm-6">
                    <h4>Camera 2</h4>
                    <input type="checkbox" v-model="cam2_enabled" />&nbsp; Enabled
                    <table class="table" v-if="cam2_enabled">
                        <tr>
                            <td>IP</td>
                            <td><input type="text" id="cam2-ip" value="127.0.0.1" /></td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td><input type="text" id="cam2-port" value="10102" /></td>
                        </tr>
                    </table>

                    <img
                        id="camera2"
                        src=""
                        v-if="cam2_enabled"
                        style="width:100%;  max-width:100%"
                    />
                </div>
            </div>
        </div>

        <!-- jQuery library -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/vue/dist/vue.min.js"></script>

        <script>
            var cam1_ip = "127.0.0.1";
            var cam2_ip = "127.0.0.1";
            var cam1_port = "10101";
            var cam2_port = "10102";

            var is_active = false;

            $(document).ready(function() {
                console.log("Ready");
                setInterval(function() {
                    if (is_active) {
                        let d = new Date();
                        if (app.cam1_enabled) {
                            let cam1_url = "http://" + cam1_ip + ":" + cam1_port;
                            $("#camera1").attr("src", cam1_url + "/?" + d.getTime());
                        }
                        if (app.cam2_enabled) {
                            let cam2_url = "http://" + cam2_ip + ":" + cam2_port;
                            $("#camera2").attr("src", cam2_url + "/?" + d.getTime());
                        }
                    }
                }, 200);
            });

            let app = new Vue({
                el: "#app",
                data: {
                    cam1_enabled: true,
                    cam2_enabled: true,
                },
            });

            function onupdate() {
                cam1_ip = $("#cam1-ip").val();
                cam1_port = $("#cam1-port").val();
                cam2_ip = $("#cam2-ip").val();
                cam2_port = $("#cam2-port").val();
                if (cam1_ip == "") $("#camera1").hide();
                else $("#camera1").show();
                if (cam2_ip == "") $("#camera2").hide();
                else $("#camera2").show();
                console.log(cam1_ip, cam1_port, cam2_ip, cam2_port);
            }

            function onstopstart() {
                is_active = !is_active;
                if (is_active) {
                    onupdate();
                    $("#stop-start-button").text("Stop");
                    $("#stop-start-button").removeClass("btn-success");
                    $("#stop-start-button").addClass("btn-danger");
                } else {
                    $("#stop-start-button").text("Start");
                    $("#stop-start-button").removeClass("btn-danger");
                    $("#stop-start-button").addClass("btn-success");
                }
            }
        </script>
    </body>
</html>
